.contactContainer {
    width: 100vw;
    height: 100vh;
    background-color: #004643;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.contactHeader {
    font-family: 'Roboto' sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.contactForm {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto' sans-serif;
}

.contactForm input {
    width: 100%;
    border: none;
    color: #FAF4D3;
    background: rgba(12, 22, 24, 0.7);
    font-size: 1rem;
    padding: .4rem;
}

.contactForm input:focus {
    outline: none;
}

.contactForm textarea {
    width: 100%;
    max-width: 100%;
    min-height: 250px;
    resize: none;
    max-lines: 4;
    background: rgba(12, 22, 24, 0.7);
    font-size: 1.5rem;
    padding: .4rem;
    color: #FAF4D3;
    border: none;    
    font-family: 'Roboto' sans-serif;
}

.contactForm textarea:focus {
    outline: none;
}

#sendMessage label {
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    align-self: flex-start;
    font-family: 'Roboto' sans-serif;
    font-weight: 300;
}

#sendMessage button {
    margin-top: 1rem;
    align-self: flex-end;
    background-color: transparent;
    border: 2px solid #FAF4D3;
    padding: 0.5rem 1rem;
    color: #FAF4D3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

#sendMessage button:hover {
    background-color: #0C1618;
    transition: ease-in 0.5s;
}

#sendMessage {
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;        
}