html {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;

  background-color: #0C1618;
  
  font-family: 'Roboto', sans-serif;
  color: #FAF4D3;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}