$primary: #133f66;
$secondary: #85d1c5;
$bg-darkest: #011a40;
$bg-dark: #002754;
$bg-normal: #4a779f;
$bg-light: #EAF0F5;
$text-primary: #ffffff;
$text-alternative: #DFF1FF;
$text-secondary: #09A7AA;
$text-dark: #2A6DA9;
$bg-alternative: #C6D2DC;
$bg-experience: #DBE4EB;